*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
@media screen and (max-width:598px) {
    html{
      font-size: 45%;
    }
}
.meme-image{
    border: none;
    position: relative;
    width: 21rem;
    height: 21rem;
    margin: 2rem;
}
.meme-image>img{
    overflow: hidden;
    transition: 1s all ease;
}
.meme-image>img:hover{
    scale: 1.2;
    filter: blur(2px);
}

