@media screen and (max-width:759px) {
    .more-from-divs>div:nth-child(2){
        margin-top: 0rem !important;
      }
}
@keyframes aesthetic-pulse {
    0% {
        background-color: #3498db;
        box-shadow: 0 4px 6px rgba(236, 18, 18, 0.1);
    }
    50% {
        background-color: #2ecc71;
        box-shadow: 0 8px 12px rgba(47, 210, 15, 0.2);
    }
    100% {
        background-color: #9b59b6;
        box-shadow: 0 6px 10px rgba(167, 223, 13, 0.3);
    }
}
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
main{
  width: 100vw;
  min-width: 50rem;
  height: auto;
}
.home-div{
    width: 100vw;
    min-width: 50rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-image{
 position: relative;
 width: 100vw;
 min-width: 50rem;
 height: 20rem;   
}
header{
    position: relative;
}
.typing{
    position: absolute;
    top: 50%;
    left: 40%;
    color: white;
}
.home-image-icon{
    position: absolute;
    width: 10rem;
    bottom: -5rem;
    left: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.main-heading{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head-div{
    background-color: black;
    width: 30rem;
    height: 6rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px navy;
    border: 1px solid white;
    border-radius: 3px;
    animation: aesthetic-pulse 2.5s infinite alternate;
}
.sidebar{
  top: 5rem;
  right: 3rem;
  z-index: 1;
  width: 6rem;
  height: 6rem;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: fixed;
  transition: all ease 0.5s;
  cursor: pointer;
}
.sidebar:hover{
  background-color: hotpink;
}
.sidebar>svg:hover{
  color: white !important;
}
.para-meme{
    font-size: 1.8rem;
    word-spacing: 0.4rem;
    line-height: 4rem;
    margin: 4rem 2rem 2rem 2rem;
}
.meme-div-image{
    position: relative;
    width: 30rem;
    height: 30rem;
}
h2{
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    position: relative;
}
h2::before{
    content: "";
    position: absolute;
    bottom: -1rem;
    width: 24rem;
    height: 0.2rem;
    background-color: red;
}
.meme-divs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100vw;
    min-width: 50rem;
}
.meme-divs>div{
    width: 40rem;
    height: 40rem;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 25px;
    border: 3px solid greenyellow;
    transition: all ease 1s;
}
.meme-divs>div:hover{
    border: 2px solid black;
}
.meme-divs>div:nth-child(1){
    background-color: blueviolet !important;
}
.meme-divs>div:nth-child(2){
    background-color: cornflowerblue !important;
}
.meme-div-p{
    font-size: 2rem;
    margin: 2rem;
    word-spacing: 0.3rem;
    line-height: 3rem;
    color: white;
}
.podcast{
    width: 100vw;
    min-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}
.h2-podcast{
    position: relative;
}
.h2-podcast::before{
    content: "";
    position: absolute;
    bottom: -1rem;
    width: 22rem;
    height: 0.2rem;
    background-color: black;
}
.uranus-memes{
    position: relative;
    margin-top:8rem;
    margin-bottom: 9rem;
}
.uranus-memes::before{
    content: "";
    position: absolute;
    bottom: -1rem;
    width: 32rem;
    height: 0.2rem;
    background-color:purple;
}
.memes{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 20px;
    width: 100vw;
    min-width: 50rem;
}
.uranus-meme-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    animation: slide 40s linear infinite; 
}
.memes:hover .uranus-meme-div{
    animation-play-state: paused;
}
  .meme-div-image-slide {
    overflow: visible;
    position: relative;
    width: 30rem;
    height: 30rem;
    transition: all ease 0.5s ;
  }
  .meme-div-image-slide:hover{
    filter: drop-shadow(3px 10px 4px #4444dd);
  }


  .more-from{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    min-width: 50rem;
  }
  .more-from-divs{
    display: flex;
    width:100vw !important;
    min-width: 50rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 30rem;
    gap: 30px;
  }
  .more-from-divs>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1.5px solid darkblue;
    border-radius: 5px;
    height: 20rem;
    padding: 2rem;
    box-sizing: border-box;
  }
  .more-from-divs>div:nth-child(2){
    margin-top: 13rem;
  }
  .more-from-divs>div>h3{
    font-size: 2rem;
  }
  .more-from-divs>div>button{
    width: 30rem;
    height: 4rem;
    margin-top: 3rem;
    border-radius: 5px;
    font-size: 1.7rem;
    background-color: orange;
    color: navy;
    transition: all ease 0.5s;
    cursor: pointer;
  }
  .more-from-divs>div>button:hover{
    color: white;
    background-color: #0156ff;
  }
  .more-from-divs>div>button>svg{
    transition: all ease 0.5s;
  }
  .more-from-divs>div>button>svg:hover{
    color: white;
    transform: translateY(-40%);
  }
  .more-info{
    clip-path: polygon(0 1%, 100% 0, 99% 73%, 0% 100%);
    background-color: #0156ff;
    width: 100vw;
    min-width: 50rem;
    margin-top: 10rem;
    height: auto;
    min-height: 55rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .head-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5rem 2rem 2rem 2rem;
    padding: 2rem;
    gap: 20px;
    width: 100vw;
    min-width: 50rem;
  }
  .more-info-h2{
    color: white;
  }
  .subscribe{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5rem;
  }
  .subscribe>svg{
    position: absolute;
    right: 3rem;
    transition: all ease 1s;
    cursor: pointer;
  }
  .subscribe>svg:hover{
    transform: translateX(50%);
  }
  .info-input{
    width: 48rem;
    height: 5rem;
    font-size: 2rem;
    border: 1px solid black;
  }
footer{
    margin-top: 10rem;
    width: 100vw;
    min-width: 50rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    gap: 25px;
}
footer>div{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10rem;
}
footer>div>b{
    font-size: 1.5rem;
}
footer>div>ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
li{
    list-style-type: none;
}
footer>div>section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
.customspan{
    background: linear-gradient(135deg, #0156ff 0%, #fa05e1 100%);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip:text;
    color: transparent;
}